<!DOCTYPE CSS>
<!--Casey Osagie-->
<!--CSS Selectors-->
<!--November 16 2021-->
<!--Computer Engineering TEJ2-->



header {
  background-color: white;
  border-bottom: 1px solid white;
  position: fixed;
  width: 100%;
  z-index: 10;
}



ul {
argin: 30px auto;
  padding: 0 20px;
 
}
  
li {
  color: black;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  display: inline-block;
  width: 80px;  
}

h1 {
font-family: proxima-nova,Helvetica, sans-serif;
line-height: 1.6;
    text-rendering: optimizeLegibility;
}

h2{
  color: gray;
  font-family:  times roman numeral;
}


fine{
text-align: center;

}

brawl {
  -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: inherit;
    vertical-align: inherit;
    font-family: inherit;
    font-size: 25px;
    font-style: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
}

stars {
   box-sizing: border-box;
    text-decoration: inherit;
    vertical-align: inherit;
    font-family: inherit;
    font-size: 19px;
    font-style: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
}

colt {
  font-size: 15px;
  color: gray;
  text-align: center;
}

nita {
  font-size: 19px;
  font-family: inherit;
  color: black;
}

bull {
  -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: inherit;
    vertical-align: inherit;
    font-family: inherit;
    font-size: 25px;
    font-style: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
    color:black;
}
kk{
  text-align: center;
}


stil {
  color: purple;
  text-rendering: optimizeLegibility;
}

meg {
   font-size: 15px;
  color: gray;
  text-align: center;
}

lola {
  box-sizing: border-box;
    text-decoration: inherit;
    vertical-align: inherit;
    font-family: inherit;
    font-size: 19px;
    font-style: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
    color: black;
    text-align: center;
}



gene {
  color: purple;
  text-rendering: optimizeLegibility;
  font-size: 25px;
  text-align: justify;
  text-align: center;
}

max {
   box-sizing: border-box;
    text-decoration: inherit;
    vertical-align: inherit;
    font-family: inherit;
    font-size: 19px;
    font-style: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
    color: black;
    text-align: Middle;
}

fine {
  text-align: center;
}




.footer { 
  background: #7D0552;
  height: 80px; 
  padding-bottom: 100px;
}

.footer p { 
  color: white;
  font-size: 14px;  
  height: 20px; 
  line-height: 50px;
  margin: 0;  
}

@media (max-width: 500px) {
  .header h1 {
    font-size: 50px;
    line-height: 64px;
  }

  .main, .jumbotron {
    padding: 0 30px;
  }

  .main img {
    width: 100%;
  }
}

clash{
font-size: 30px;
text-align: ;
font-family: helvetica;
 font-weight: 600;
}

king{
text-align: 



}

dodo{
  text-align: right
}

doom{
  text-align: right;
}
